.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 71.25rem;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.title {
  color: #000000;
  border-bottom: 1px solid #cccccc;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 20px;
  margin: 0 auto 3rem;
  width: -moz-fit-content;
  width: fit-content;
}

.menuList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.menu {
  width: 33.3333%;
}

.menu:first-child,
.menu:nth-child(2),
.menu:nth-child(3) {
  margin-bottom: 2rem;
}

.menuBox {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-flex-flow: row nowrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 14rem;
  margin: 0 auto;
  opacity: 0.8;
}

.menuIconWrap {
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  margin-top: 0.2rem;
  margin-right: 2rem;
}

.menuIcon {
  font-size: 2rem;
}

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuTitle {
  width: 100%;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: left;
}

.menuText {
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
  word-break: keep-all;
}

@media (max-width: 992px) {
  .menu {
    width: 50%;
  }

  .menu:nth-child(4) {
    margin-bottom: 2rem;
  }
}

@media (max-width: 576px) {
  .menu {
    width: 100%;
  }

  .menu:nth-child(5) {
    margin-bottom: 2rem;
  }

  .menuBox {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 14rem;
    margin: 0 auto;
    opacity: 0.8;
  }
}
