.container {
  background-color: #f5f5f5;
}

.wrap {
  width: 100%;
  max-width: 71.25rem;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.title {
  color: #000;
  border-bottom: 1px solid #000;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 20px;
  margin: 0 auto 3rem;
  width: -moz-fit-content;
  width: fit-content;
}

.itemWrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.logoContainer {
  padding-right: 3rem;
  border-right: 1px solid #ccc;
}

.logoWrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 15rem;
  height: 15rem;
  border: 1px solid #ccc;
  border-radius: 10rem;
  background-color: rgb(31, 39, 58);
}

.logo {
  display: block;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 90%;
}

.careerContainer {
  padding-left: 3rem;
}

.careerTitle {
  padding-bottom: 0.5rem;
  font-weight: 900;
  font-size: 1.5rem;
}

.careerPeriod {
  padding-bottom: 1rem;
  font-weight: 400;
  font-size: 1.1rem;
  color: #6c757d;
}

.careerDescription {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  word-break: keep-all;
}

.careerListWrap {
  padding-left: 1rem;
  margin: 1rem 0;
}

.careerListTitle {
  margin: 2rem 0 1rem -1rem;
  font-size: 1rem;
  color: #222;
}

.careerListPeriod {
  margin: 0 0 1rem -1rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: #6c757d;
}

.careerListWrap li {
  margin-bottom: 0.5rem;
  list-style: disc;
}

@media (max-width: 992px) {
  .logoContainer {
    padding-right: 2rem;
  }

  .logoWrap {
    width: 10rem;
    height: 10rem;
  }

  .careerContainer {
    padding-right: 2rem;
  }
}

@media (max-width: 768px) {
  .itemWrap {
    flex-direction: column;
    border: none;
  }

  .logoContainer {
    padding-right: 0;
    padding-bottom: 2rem;
    border-right: none;
  }

  .logoWrap {
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
  }
}
