.container {
  height: 11rem;
  padding-top: 3rem;
  background-color: #222;
  text-align: center;
}

.text {
  font-weight: 400;
  font-size: 0.9rem;
  color: #f5f5f5;
}

.listWrap {
  margin: 0 auto 1rem;
}

.list {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  padding: 2px;
  margin: 0 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
}

.iconWrap {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.icon {
  width: 100%;
  height: 100%;
  color: #fff;
}

.icon:hover {
  color: rgb(189, 189, 189);
}
